<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" >
<head>
  <meta charset="utf-8" />
	<title>Ukan-Izan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript">
    var deters=[
        {
            "fr": "le ",
            "fr_f": "la ",
            "fr_before_vowel": "l'",
            "quant": "deter",
            "num": "sing",
        },
        {
            "fr": "les ",
            "quant": "deter",
            "num": "plur",
        },    
        {
            "fr": "quelques ",
            "quant": "indet",
            "num": "plur",
            "eus": "zenbait",
        },    
        {
            // "fr": "du (1 part. indén. de) ",
            "fr": "peu d'un ",
            "fr_f": "peu d'une ",
            // "fr_before_vowel": "peu de l'",
            // "fr": "peu de ",
            "quant": "indet",
            "num": "sing",
            "eus": "gutxi",
        },
        {
            // "fr": "du (1 part. indén. de) ",
            "fr": "un petit nombre de ",
            "fr_before_vowel": "un petit nombre d'",
            "quant": "indet",
            "num": "plur",
            "eus": "gutxi",
        }, 
        {
            // "fr": "du (1 part. indén. de) ",
            "fr": "une petite partie de ",
            "fr_before_vowel": "une petite partie d'",
            // "fr": "un peu de ",
            "quant": "indet",
            "num": "sing",
            "eus": "pixka bat",
        },          
        // {
        //     // "fr": "du (1 part. indén. de) ",
        //     "fr": "du ",
        //     "fr_f": "de la ",
        //     "fr_before_vowel": "de l'",
        //     "quant": "indet",
        //     "num": "sing",
        // },    
        {
            "fr": "trois ",
            "eus": "hiru",
            "quant": "ordin", 
            "num": "plur",
        },
        {
            "fr": "un ",
            "fr_f": "une ",
            "eus": "bat",
            "quant": "ordin",
            "num": "sing",
        }
    
    ];
    
    var pronoms=[
        {"fr": "je", "eus": "ni", "fr_pers":0},
        {"fr": "tu", "eus": "zu", "fr_pers":1},
        {"fr": "elles", "plur": true, "fr_f": true, "eus": "beraiek", "fr_pers":5, 'word_id': 1, 'syns_fr': [7], 'syns_eus': [3]},
        {"fr": "elle", "fr_f": true, "eus": "bera", "fr_pers":2, 'word_id': 2, 'syns_fr': [6], 'syns_eus': [4]},
        {"fr": "elles", "plur": true, "fr_f": true, "eus": "haiek", "fr_pers":5, 'word_id': 3, 'syns_fr': [7], 'syns_eus': [1]},
        {"fr": "elle", "fr_f": true, "eus": "hura", "fr_pers":2, 'word_id': 4, 'syns_fr': [6], 'syns_eus': [2]},
        {"fr": "ils", "plur": true, "eus": "beraiek", "fr_pers":5, 'word_id': 5, 'syns_fr': [1], 'syns_eus': [3]},
        {"fr": "il", "eus": "bera", "fr_pers":2, 'word_id': 6, 'syns_fr': [2], 'syns_eus': [4]},
        {"fr": "ils", "plur": true, "eus": "haiek", "fr_pers":5, 'word_id': 7, 'syns_fr': [3], 'syns_eus': [5]},
        {"fr": "il", "eus": "hura", "fr_pers":2, 'word_id': 8, 'syns_fr': [2], 'syns_eus': [6]},
        {"fr": "nous", "eus": "gu", "fr_pers":3},
        {"fr": "vous", "eus": "zuek", "fr_pers":4},
        ];
    
    var verbs=[
        {
            "fr": "être",
            "eus": "izan",
            "fr_c":["suis","es","est","sommes","êtes","sont"],
            "eus_c":[["naiz","zara","da","gara","zarete","dira"]],
            "trans":false
        },
        {
            "fr": "avoir",
            "eus": "ukan",
            "fr_c":["ai","as","a","avons","avez","ont"],
            "eus_c":
                [
                    ["dut","duzu","du","dugu","duzue","dute"],
                    ["ditut","dituzu","ditu","ditugu","dituzue","dituzte"]
                ],
            "trans":true
        },
    
    ];
    
  </script>
  <script type="text/javascript">
    var names=[
        {'fr': '19 octobre 2020', "plur_fr": "19 octobre 2020", 'eus': '2020ko urriaren 19', 'word_id': 0},
        {'fr': 'partie', "fr_f": true, 'eus': 'atal', 'word_id': 1, 'syns_fr': [102]},
        {'fr': 'chapitre', 'eus': 'kapitulu', 'word_id': 2},
        {'fr': 'flûte', "fr_f": true, 'eus': 'txistu', 'word_id': 3},
        {'fr': 'alphabet', 'eus': 'alfabeto', 'word_id': 5},
        {'fr': 'lettre', "fr_f": true, 'eus': 'letra', 'word_id': 6},
        {'fr': 'mot', 'eus': 'hitz', 'word_id': 7},
        {'fr': 'nom', 'eus': 'izen', 'word_id': 8},
        {'fr': 'exemple', 'eus': 'adibide', 'word_id': 9},
        {'fr': 'T mouillé', 'eus': 't soinu', 'word_id': 11},
        {'fr': 'son', 'eus': 'soinu', 'word_id': 12},
        {'fr': 'présentation', "fr_f": true, 'eus': 'aurkezpen', 'word_id': 14},
        {'fr': 'vie', "fr_f": true, 'eus': 'bizi', 'word_id': 15},
        {'fr': 'Bretagne', "fr_f": true, 'eus': 'Bretainia', 'word_id': 17},
        {'fr': 'pardon', 'eus': 'barkatu', 'word_id': 36},
        {'fr': 'regret', 'eus': 'damu', 'word_id': 37},
        {'fr': 'merci', 'eus': 'eskerrik asko', 'word_id': 40},
        {'fr': 'bien', 'eus': 'ongi', 'word_id': 48},
        {'fr': 'mal', "plur_fr": "maux", 'eus': 'gaizki', 'word_id': 49},
        {'fr': 'chien', 'eus': 'txakur', 'word_id': 50, 'syns_fr': [51]},
        {'fr': 'flic', 'eus': 'txakur', 'word_id': 51, 'syns_fr': [50]},
        {'fr': 'chanson', "fr_f": true, 'eus': 'kantore', 'word_id': 55},
        {'fr': 'champignon', 'eus': 'onddo', 'word_id': 56},
        {'fr': 'vocabulaire', 'eus': 'hiztegi', 'word_id': 57},
        {'fr': 'jour', 'eus': 'egun', 'word_id': 59},
        {'fr': 'mois', "plur_fr": "mois", 'eus': 'hilabete', 'word_id': 60},
        {'fr': 'saison', "fr_f": true, 'eus': 'urtaro', 'word_id': 61},
        {'fr': 'milieu', "plur_fr": "milieux", 'eus': 'arte', 'word_id': 63},
        {'fr': 'moitié', "fr_f": true, 'eus': 'erdi', 'word_id': 64},
        {'fr': 'surlendemain', 'eus': 'etzidamu', 'word_id': 72},
        {'fr': 'météo', "fr_f": true, 'eus': 'eguraldi', 'word_id': 73},
        {'fr': 'période', "fr_f": true, 'eus': 'aldi', 'word_id': 74, 'syns_fr': [75, 76]},
        {'fr': 'fois', "plur_fr": "fois", "fr_f": true, 'eus': 'aldi', 'word_id': 75, 'syns_fr': [74, 76]},
        {'fr': 'tour', 'eus': 'aldi', 'word_id': 76, 'syns_fr': [74, 75]},
        {'fr': 'bûche', "fr_f": true, 'eus': 'egur', 'word_id': 77},
        {'fr': 'vent', 'eus': 'haize', 'word_id': 78},
        {'fr': 'neige', "fr_f": true, 'eus': 'elur', 'word_id': 79},
        {'fr': 'pluie', "fr_f": true, 'eus': 'euri', 'word_id': 80},
        {'fr': 'soleil', 'eus': 'eguski', 'word_id': 87, 'syns_eus': [124]},
        {'fr': 'dieu du soleil', "plur_fr": "dieux du soleil", "pers_name": true, 'eus': 'Eki', 'word_id': 123},
        {'fr': 'soleil', 'eus': 'eki', 'word_id': 124, 'syns_eus': [87]},
        {'fr': 'nuage', 'eus': 'hodei', 'word_id': 88},
        {'fr': 'éclaircie', "fr_f": true, 'eus': 'ostarte', 'word_id': 89},
        {'fr': 'tâche', "fr_f": true, 'eus': 'ari', 'word_id': 90, 'syns_fr': [91, 92]},
        {'fr': 'ocupation', "fr_f": true, 'eus': 'ari', 'word_id': 91, 'syns_fr': [90, 92]},
        {'fr': 'travail', "plur_fr": "travaux", 'eus': 'ari', 'word_id': 92, 'syns_fr': [90, 91]},
        {'fr': 'brouillard bas', "plur_fr": "brouillards bas", 'eus': 'behe-laino', 'word_id': 93},
        {'fr': 'ciel dégagé', "plur_fr": "cieux dégagés", 'eus': 'oskarbi', 'word_id': 95},
        {'fr': 'pont', 'eus': 'zubi', 'word_id': 96},
        {'fr': 'arc-en-ciel', 'eus': 'erromako zubi', 'word_id': 97, 'syns_eus': [99]},
        {'fr': 'corne', "fr_f": true, 'eus': 'adar', 'word_id': 98},
        {'fr': 'arc-en-ciel', 'eus': 'ortzadar', 'word_id': 99, 'syns_eus': [97]},
        {'fr': 'lumière', "fr_f": true, 'eus': 'argi', 'word_id': 100},
        {'fr': 'lune', "fr_f": true, 'eus': 'ilargi', 'word_id': 101},
        {'fr': 'phase', "fr_f": true, 'eus': 'atal', 'word_id': 102, 'syns_fr': [1]},
        {'fr': 'pleine lune', "plur_fr": "pleines lunes", "fr_f": true, 'eus': 'ilbete', 'word_id': 103},
        {'fr': 'lune descendante', "plur_fr": "lunes descendantes", "fr_f": true, 'eus': 'ilbehera', 'word_id': 104},
        {'fr': 'nouvelle lune', "plur_fr": "nouvelles lunes", "fr_f": true, 'eus': 'ilberri', 'word_id': 105},
        {'fr': 'lune montante', "plur_fr": "lunes montantes", "fr_f": true, 'eus': 'ilgora', 'word_id': 106},
        {'fr': 'averse', "fr_f": true, 'eus': 'zaparrada', 'word_id': 107},
        {'fr': 'bruine', "fr_f": true, 'eus': 'zirimiri', 'word_id': 108, 'syns_fr': [109]},
        {'fr': 'pluie fine', "plur_fr": "pluies fines", "fr_f": true, 'eus': 'zirimiri', 'word_id': 109, 'syns_fr': [108]},
        {'fr': 'grêle', "fr_f": true, 'eus': 'kazkabar', 'word_id': 110},
        {'fr': 'bourrasque', "fr_f": true, 'eus': 'bisuts', 'word_id': 111},
        {'fr': 'crachin', 'eus': 'lanbro', 'word_id': 112},
        {'fr': 'brume', "fr_f": true, 'eus': 'langar', 'word_id': 113},
        // {'fr': 'brume et crachin', 'eus': 'langar-laino', 'word_id': 114},
        {'fr': 'feu', "plur_fr": "feux", 'eus': 'su', 'word_id': 117},
        {'fr': 'dieu du ciel', "plur_fr": "dieux des cieux", "pers_name": true, 'eus': 'Ortzi', 'word_id': 120},
        {'fr': 'ciel', "plur_fr": "cieux", 'eus': 'ortzi', 'word_id': 121, 'syns_fr': [122]},
        {'fr': 'tonnerre', 'eus': 'ortzi', 'word_id': 122, 'syns_fr': [121]},
        {'fr': 'récolte', "fr_f": true, 'eus': 'uzta', 'word_id': 125},
        {'fr': 'fougère', "fr_f": true, 'eus': 'iratze', 'word_id': 127},
        {'fr': 'loup', 'eus': 'otso', 'word_id': 128},
        {'fr': 'chou', "plur_fr": "choux", 'eus': 'aza', 'word_id': 129},
        {'fr': 'applaudissement', 'eus': 'txalo', 'word_id': 130, 'syns_fr': [131]},
        {'fr': 'bravo', 'eus': 'txalo', 'word_id': 131, 'syns_fr': [130]},
        {'fr': 'jour de fête', "plur_fr": "jours fériés", 'eus': 'jaiegun', 'word_id': 132, 'syns_fr': [133]},
        {'fr': 'jour férié', "plur_fr": "jours fériés", 'eus': 'jaiegun', 'word_id': 133, 'syns_fr': [132]},
        {'fr': 'doute', 'eus': 'zalantza', 'word_id': 134},
        {'fr': 'étudiant', 'eus': 'ikasle', 'word_id': 136},
        {'fr': 'professeur', 'eus': 'irakasle', 'word_id': 137},
        {'fr': 'exercice', 'eus': 'ariketa', 'word_id': 138},
        {'fr': 'question', "fr_f": true, 'eus': 'galdera', 'word_id': 139},
        {'fr': 'réponse', "fr_f": true, 'eus': 'erantzun', 'word_id': 140},
        {'fr': 'verbe', 'eus': 'aditz', 'word_id': 141},
        {'fr': 'vérité', "fr_f": true, 'eus': 'egia', 'word_id': 142},
        {'fr': 'mensonge', 'eus': 'gezur', 'word_id': 145},
        {'fr': 'négation', "fr_f": true, 'eus': 'ezezko', 'word_id': 149},
        {'fr': 'garçon', 'eus': 'mutil', 'word_id': 151},
        {'fr': 'fille', "fr_f": true, 'eus': 'neska', 'word_id': 152},
        {'fr': 'pluriel', 'eus': 'plural', 'word_id': 148},
        {'fr': 'au revoir', "plur_fr": "au revoir", 'eus': 'agur', 'word_id': 22},
        {'fr': 'après-midi', "plur_fr": "après-midi", 'eus': 'arratsalde', 'word_id': 27},
        {'fr': "s'il te plaît", "plur_fr": "s'il te plaît", 'eus': 'mesedez', 'word_id': 38, 'syns_fr': [338], 'syns_eus': [39]},
        {'fr': "s'il te plaît", "plur_fr": "s'il te plaît", 'eus': 'otoi', 'word_id': 39, 'syns_fr': [339], 'syns_eus': [38]},
        {'fr': "s'il vous plaît", "plur_fr": "s'il vous plaît", 'eus': 'mesedez', 'word_id': 338, 'syns_fr': [39], 'syns_eus': [39]},
        {'fr': "s'il vous plaît", "plur_fr": "s'il vous plaît", 'eus': 'otoi', 'word_id': 339, 'syns_fr': [39], 'syns_eus': [38]},
        {'fr': 'lendemain', 'eus': 'bihar', 'word_id': 69},
        {'fr': 'froid', 'eus': 'hotz', 'word_id': 81},
        {'fr': 'chaleur', "fr_f": true, 'eus': 'bero', 'word_id': 82},
        {'fr': 'premier', 'eus': 'lehen', 'word_id': 62},
        {'fr': 'dernier', 'eus': 'azken', 'word_id': 65},
        {"fr": "lundi", "eus": "astelehen"},
        {"fr": "mardi", "eus": "astearte"},
        {"fr": "mercredi", "eus": "asteasken"},
        {"fr": "jeudi", "eus": "ostegun"},
        {"fr": "vendredi", "eus": "ostiral"},
        {"fr": "samedi", "eus": "larunbat"},
        {"fr": "dimanche", "eus": "igande"},
        {"fr": "aube", "fr_f": true, "eus": "egunsenti"},
        {"fr": "matin", "eus": "goiz"},
        {"fr": "midi", "eus": "eguerdi"},
        {"fr": "soir", "eus": "iluntze"},
        {"fr": "crépuscule", "eus": "ilunabar"},
        {"fr": "nuit", "fr_f": true, "eus": "gau"},
        {"fr": "automne", "eus": "udazken"},
        {"fr": "hiver", "fr_h_mute":true, "eus": "negu"},
        {"fr": "printemps", "plur_fr": "printemps", "eus": "udaberri"},
        {"fr": "été", "eus": "uda"},
        {"fr": "janvier", "eus": "urtarril"},
        {"fr": "février", "eus": "otsail"},
        {"fr": "mars", "plur_fr": "mars", "eus": "martxo"},
        {"fr": "avril", "eus": "apiril"},
        {"fr": "mai", "plur_fr": "mois de mai", "eus": "maiatz"},
        {"fr": "juin", "eus": "ekain"},
        {"fr": "juillet", "eus": "uztail"},
        {"fr": "août", "eus": "abuztu", 'word_id': 200, 'syns_eus': [201]},
        {"fr": "août", "eus": "agorril", 'word_id': 201, 'syns_eus': [200]},
        {"fr": "septembre", "eus": "irail"},
        {"fr": "octobre", "eus": "urri", 'word_id': 202},
        {"fr": "novembre", "eus": "azaro"},
        {"fr": "décembre", "eus": "abendu"},
        {"fr": "Guillaume", "pers_name": true, "plur_fr": "Guillaume", "eus": "Guillaume"},
        {"fr": "poisson", "eus": "arrain"},
        {"fr": "Sonia", "plur_fr": "Sonia", "pers_name": true, "fr_f": true, "eus": "Sonia"},
        {"fr": "semaine", "fr_f": true, "eus": "aste", 'word_id': 58}
    
    ];
    //"fr_f_plur"
    
    var adjs=[
        {'fr': 'négatif', 'fr_post': true, "fr_f": "négative", 'eus': 'ezezko', 'word_id': 150},
        {'fr': 'facile', 'fr_post': true, "fr_f": "facile", 'eus': 'erraz', 'word_id': 147},
        {'fr': 'difficile', 'fr_post': true, "fr_f": "difficile", 'eus': 'zail', 'word_id': 146},
        {'fr': 'vrai', 'eus': 'egia', 'word_id': 143},
        {'fr': 'faux', "plur_fr": "faux", "fr_f": "fausse", 'eus': 'gezur', 'word_id': 144},
        {'fr': 'vivant', 'fr_post': true, 'eus': 'bizi', 'word_id': 16},
        {'fr': 'premier', "fr_f": "première", 'eus': 'lehen', 'word_id': 62},
        {'fr': 'dernier', "fr_f": "dernière", 'eus': 'azken', 'word_id': 65},
        {'fr': 'bon', "fr_f": "bonne", 'eus': 'on', 'word_id': 84},
        {'fr': 'mauvais', "plur_fr": "mauvais", 'eus': 'txar', 'word_id': 85, 'syns_fr': [86]},
        {'fr': 'moche', 'fr_post': true, "fr_f": "moche", 'eus': 'txar', 'word_id': 86, 'syns_fr': [85]},
        {'fr': 'bas', "plur_fr": "bas", "fr_f": "basse", 'eus': 'behe', 'word_id': 94},
        {'fr': 'mouillé', 'fr_post': true, 'eus': 'busti', 'word_id': 115, 'syns_fr': [116]},
        {'fr': 'humide', 'fr_post': true, "fr_f": "humide", "fr_h_mute":true, 'eus': 'busti', 'word_id': 116, 'syns_fr': [115]},
        {'fr': 'peu abondant', 'fr_post': true, 'eus': 'urri', 'word_id': 126},
        {'fr': 'froid', 'fr_post': true, 'eus': 'hotz', 'word_id': 81},
        {'fr': 'chaud', 'fr_post': true, 'eus': 'bero', 'word_id': 82},
        {"fr": "beau", "fr_before_vowel": "bel", "plur_fr": "beaux", "fr_f": "belle", "eus": "polita"},
        {"fr": "petit","eus": "txiki"},
        {"fr": "grand", "eus": "haundi"},
        {'fr': 'habituel', 'fr_post': true, "fr_f": "habituelle", "fr_h_mute":true, 'eus': 'ohiko', 'word_id': 0},
        {'fr': 'obligatoire', 'fr_post': true, "fr_f": "obligatoire", 'eus': 'beharrezko', 'word_id': 1},
        {'fr': 'lent', 'fr_post': true, 'eus': 'motel', 'word_id': 2}
    ];
    
    // {'fr': "d'accord", 'eus': 'ados', 'word_id': 135},
  </script>
  <script type="text/javascript">
    var app = angular.module('myApp', []);
    
    app.controller('myCtrl', function($scope) {
    	$scope.verbs = verbs;
    	$scope.deters = deters;
    	$scope.names = names;
    	$scope.adjs = adjs;
    	$scope.pronoms = pronoms;
    	$scope.shown_verb_tab = false;
    
    	$scope.deter1 = "";
    	$scope.adj1="";
    	$scope.name1="";
    	
    	$scope.deter2 = "";
    	$scope.adj2="";
    	$scope.name2="";
    
    	$scope.verb="";
    	$scope.infinitif="";
    
    	$scope.hints = [];
    	$scope.shownHints = [];
    	$scope.num_hints = 0;
    
    	$scope.target = "";
    	$scope.target_chunks = {"name1":"", "ordin1":"", "adj1":"", "verb":"", "name2":"", "adj2":"", "ordin2":""};
    
    	$scope.message = " Écrire la traduction. NB: l'ordre des mots n'est pas vérifié ici.";
    	$scope.fr_phrase = ""
    
    	$scope.check = function() {
    
    		var form_input=$scope.client_input.toLowerCase().replace(" .","").replace(".","").replace(/  /g," ").split(" ").sort();
    		var form_target=$scope.target.toLowerCase().replace(".","").split(" ").sort();
    
    		var is_same=true;
    		var i = form_target.length;
    		if (i!=form_input.length) {
    			is_same= false;
    		} else {
    			while (i--) {
    			    if (form_input[i] !== form_target[i]) is_same= false;
    			};			
    		};
    
    		// console.log("input chunks: " + form_input);
    		// console.log("target chunks: " + form_target);
    
    		// if ($scope.client_input == $scope.target)
    		// if (form_input == form_target)
    		if (is_same)
    			return 1;
    		else return 0;
    	};
    
    	$scope.validate = function($event) {
    		$scope.message = "";
    		if ($event.which === 13) {
    			if ($scope.check() == 1) {
    				$scope.message = " Correct !";
    				// $scope.newTest();
    			}
    			else {
    				$scope.message = " Incorrect !";
    			}
    
    		}
    	};
    
    	$scope.newTest = function() {
    
    		$scope.deter1 = "";
    		$scope.adj1="";
    		$scope.name1="";
    		
    		$scope.deter2 = "";
    		$scope.adj2="";
    		$scope.name2="";
    
    		$scope.verb="";
    		$scope.infinitif="";
    
    		$scope.hints=[];
    		$scope.num_hints = 0;
    		$scope.shownHints=[];
    		$scope.shown_verb_tab = false;
    
    		$scope.message = " Écrire la traduction. NB: l'ordre des mots n'est pas vérifié ici.";
    		$scope.fr_phrase = ""
    
    		$scope.target = "";
    		$scope.target_chunks = {"name1":"", "suf_name1":"", "ordin1":"", "adj1":"", "verb":"", "name2":"", "suf_name2":"", "adj2":"", "ordin2":""};
    
    		var vowelRegex = '^[aieouAIEOUéèêÊÉÈËëÜü].*'; //TODO: French H muda
    
    
    		//////// NAME GROUP 1
    		var pronom_proba=50; //percent
    		var name1;
    		var iRandom_name1 = 0;
    		var name1_is_proper_noun = false;
    
    		var name1_is_pronom = (Math.floor((Math.random() * 100))<pronom_proba);
    
    		if (name1_is_pronom) {
    			var iRandom_pron1 = Math.floor((Math.random() * ($scope.pronoms.length)));
    			name1 = pronoms[iRandom_pron1];
    		} else {
    			iRandom_name1 = 1+(Math.floor((Math.random() * ($scope.names.length))));
    			name1 = names[iRandom_name1-1];
    		}
    
    		$scope.name1 = name1.fr;
    		$scope.hints.push(name1);
    		$scope.target_chunks["name1"]=name1.eus;
    
    
    
    		if (!(name1_is_pronom)) {
    
    			var iRandom_deter1 = Math.floor((Math.random() * ($scope.deters.length)));
    			if (name1.fr_f && "fr_f" in deters[iRandom_deter1]) {
    				$scope.deter1 = deters[iRandom_deter1].fr_f;
    			} else {
    				$scope.deter1 = deters[iRandom_deter1].fr;
    			}
    			if (deters[iRandom_deter1].num == "plur") {
    				if (deters[iRandom_deter1].quant == "ordin") {
    					if (Math.floor((Math.random() *2))>0) {
    						$scope.deter1 = "les "+$scope.deter1;
    						$scope.target_chunks["suf_name1"]="ak";
    					};
    				} else {
    					if (deters[iRandom_deter1].quant == "deter") $scope.target_chunks["suf_name1"]="ak";
    					if (deters[iRandom_deter1].quant == "indet") $scope.target_chunks["ordin1"]=deters[iRandom_deter1].eus;
    				};
    				if ("plur_fr" in name1) {$scope.name1 = name1.plur_fr;} else{$scope.name1 +="s";}
    			} else{
    				if (deters[iRandom_deter1].quant == "deter") $scope.target_chunks["suf_name1"]="a";
    				if (deters[iRandom_deter1].quant == "indet") $scope.target_chunks["ordin1"]=deters[iRandom_deter1].eus;
    			};
    			if (deters[iRandom_deter1].quant == "ordin") {
    				$scope.hints.push(deters[iRandom_deter1]);
    				$scope.target_chunks["ordin1"]=deters[iRandom_deter1].eus;
    			}
    			if (deters[iRandom_deter1].quant == "indet") $scope.hints.push(deters[iRandom_deter1]);
    
    			
    
    			var iRandom_adj1 = Math.floor((Math.random() * (1+$scope.adjs.length)));
    			if ((iRandom_adj1 == 0)||((iRandom_adj1>0)&&(adjs[iRandom_adj1-1].fr_post))) {
    				
    				$scope.adj1 = "";
    				// if ((deters[iRandom_deter1].num == "sing") && (($scope.name1.match(vowelRegex))||name1.fr_h_mute) && ("fr_before_vowel" in deters[iRandom_deter1])) {
    				if ((($scope.name1.match(vowelRegex))||name1.fr_h_mute) && ("fr_before_vowel" in deters[iRandom_deter1])) {
    					$scope.deter1 = deters[iRandom_deter1].fr_before_vowel;
    				};
    				if ($scope.name1.charAt(0)==$scope.name1.charAt(0).toUpperCase()) {				
    					name1_is_proper_noun = true;
    					if (name1.pers_name) {
    						if (deters[iRandom_deter1].num == "sing") {
    							if (deters[iRandom_deter1].quant == "deter") $scope.deter1 = "";
    							// if ($scope.target_chunks["suf_name1"]=="a") $scope.target_chunks["suf_name1"]="";
    						};
    					};
    
    				};
    			};
    			if (iRandom_adj1>0) {
    				if (deters[iRandom_deter1].num == "plur") {
    					if (name1.fr_f) {
    						if ("fr_f_plur" in adjs[iRandom_adj1-1]) {
    							$scope.adj1 = adjs[iRandom_adj1-1].fr_f_plur;
    						} else{
    							if ("fr_f" in adjs[iRandom_adj1-1]) {
    								$scope.adj1 = adjs[iRandom_adj1-1].fr_f+"s";
    							} else {$scope.adj1 = adjs[iRandom_adj1-1].fr+"es";}
    						}
    					} else {
    						if ("plur_fr" in adjs[iRandom_adj1-1]) {
    							$scope.adj1 = adjs[iRandom_adj1-1].plur_fr;
    						} else {$scope.adj1 = adjs[iRandom_adj1-1].fr+"s";}
    					}
    				} else {
    					if (name1.fr_f) {
    						if ("fr_f" in adjs[iRandom_adj1-1]) {
    							$scope.adj1 = adjs[iRandom_adj1-1].fr_f;
    						} else {$scope.adj1 = adjs[iRandom_adj1-1].fr+"e";}
    					} else {
    						if ((($scope.name1.match(vowelRegex))||(name1.fr_h_mute)) && ("fr_before_vowel" in adjs[iRandom_adj1-1])) {
    							$scope.adj1 = adjs[iRandom_adj1-1].fr_before_vowel;
    						} else {
    							$scope.adj1 = adjs[iRandom_adj1-1].fr;};
    						};
    				};
    				if (!(adjs[iRandom_adj1-1].fr_post)){
    					if ((($scope.adj1.match(vowelRegex))||(adjs[iRandom_adj1-1].fr_h_mute)) && ("fr_before_vowel" in deters[iRandom_deter1])) {
    						$scope.deter1 = deters[iRandom_deter1].fr_before_vowel;
    					};
    				};
    				$scope.adj1+=" ";
    				$scope.hints.push(adjs[iRandom_adj1-1]);
    				$scope.target_chunks["adj1"]=adjs[iRandom_adj1-1].eus;
    
    			}
    		};
    
    
    		//////// VERB
    		var iRandom_verb = Math.floor((Math.random() * $scope.verbs.length));
    		var infinitif=$scope.verbs[iRandom_verb];
    		$scope.infinitif=$scope.verbs[iRandom_verb];
    		var pers;
    		var pers_COD = 0;
    
    		if (!(name1_is_pronom)) {
    			if (deters[iRandom_deter1].num == "plur") {
    				pers=5;
    			} else {
    				pers=2;				
    			}
    			
    		} else {pers=name1.fr_pers;};
    
    		// $scope.verb = infinitif.fr;
    		$scope.verb = infinitif.fr_c[pers];
    
    		if ((pers == 0) && (($scope.verb.match(vowelRegex))||(infinitif.fr_h_mute))) {
    			$scope.name1 = "j'";
    		} else {
    			$scope.name1 += " ";			
    		};
    
    
    		// NAME GROUP 2
    		var iRandom_name2 = Math.floor((Math.random() * (1+$scope.names.length)));
    		var name2_is_adj;
    		var name2_is_proper_noun = false;
    		var name2;
    
    		if (iRandom_name2 == 0 && infinitif.trans) iRandom_name2=Math.floor((Math.random() * ($scope.names.length)))+1;
    
    		if (iRandom_name2 == 0) {
    			name2_is_adj=true;
    			var iRandom_adj2 = Math.floor((Math.random() * ($scope.adjs.length)));
    			name2 = adjs[iRandom_adj2];
    			if (iRandom_adj2!=iRandom_adj1-1) $scope.hints.push(name2);
    
    
    			if ((name1_is_pronom && name1.fr_pers>2) || (!(name1_is_pronom) && deters[iRandom_deter1].num == "plur")) {
    				if (name1.fr_f) {
    					if ("fr_f_plur" in name2) {
    						$scope.name2 = name2.fr_f_plur;
    					} else{
    						if ("fr_f" in name2) {
    							$scope.name2 = name2.fr_f+"s";
    						} else {$scope.name2 = name2.fr+"es";}
    					}
    				} else {
    					if ("plur_fr" in name2) {
    						$scope.name2 = name2.plur_fr;
    					} else {$scope.name2 = name2.fr+"s";}
    				};
    				$scope.target_chunks["suf_name2"]="ak";
    			} else {
    				if (name1.fr_f) {
    					if ("fr_f" in name2) {
    						$scope.name2 = name2.fr_f;
    					} else {$scope.name2 = name2.fr+"e";}
    				} else {$scope.name2 = name2.fr;};
    				$scope.target_chunks["suf_name2"]="a";
    			}
    			// $scope.target_chunks["suf_name2"]=$scope.target_chunks["suf_name1"];
    
    		} else {
    			name2_is_adj=false;
    			name2 = names[iRandom_name2-1];
    			$scope.name2 = name2.fr;
    			if (iRandom_name2!=iRandom_name1) $scope.hints.push(name2);
    		};
    
    		$scope.target_chunks["name2"]=name2.eus;
    
    
    		if (!(name2_is_adj)) {
    			var iRandom_deter2 = Math.floor((Math.random() * ($scope.deters.length)));
    			if (name2.fr_f && "fr_f" in deters[iRandom_deter2]) {
    				$scope.deter2 = deters[iRandom_deter2].fr_f;
    			} else {
    				$scope.deter2 = deters[iRandom_deter2].fr;
    			}
    			if (deters[iRandom_deter2].num == "plur") {
    				if (deters[iRandom_deter2].quant == "ordin") {
    					$scope.target_chunks["ordin2"]=deters[iRandom_deter2].eus;
    					if ( (name1_is_pronom) || ( (!(name1_is_pronom)) && (iRandom_deter1!=iRandom_deter2) )) $scope.hints.push(deters[iRandom_deter2]);
    
    					if (Math.floor((Math.random() *2))>0) {
    						$scope.deter2 = "les "+$scope.deter2;
    						$scope.target_chunks["suf_name2"]="ak";
    					}
    				} else {
    					if (deters[iRandom_deter2].quant == "deter") $scope.target_chunks["suf_name2"]="ak";
    					if (deters[iRandom_deter2].quant == "indet") $scope.target_chunks["ordin2"]=deters[iRandom_deter2].eus;
    				};
    				if ("plur_fr" in name2) {$scope.name2 = name2.plur_fr;} else{$scope.name2 +="s";}
    			} else {
    				if (deters[iRandom_deter2].quant == "deter") $scope.target_chunks["suf_name2"]="a";
    				if (deters[iRandom_deter2].quant == "ordin") {
    					if ( (name1_is_pronom) || ( (!(name1_is_pronom)) && (iRandom_deter1!=iRandom_deter2) )) $scope.hints.push(deters[iRandom_deter2]);
    					$scope.target_chunks["ordin2"]=deters[iRandom_deter2].eus;
    				};
    				if (deters[iRandom_deter2].quant == "indet") $scope.target_chunks["ordin2"]=deters[iRandom_deter2].eus;
    			};
    			if (deters[iRandom_deter2].quant == "indet") {
    				// $scope.hints.push(deters[iRandom_deter2]);
    				if ( (name1_is_pronom) || ( (!(name1_is_pronom)) && (iRandom_deter1!=iRandom_deter2) )) $scope.hints.push(deters[iRandom_deter2]);
    			}
    
    
    
    
    			var iRandom_adj2 = Math.floor((Math.random() * (1+$scope.adjs.length)));
    			// if (iRandom_adj2 == 0) {
    			if ((iRandom_adj2 == 0)||((iRandom_adj2>0)&&(adjs[iRandom_adj2-1].fr_post))) {
    				$scope.adj2 = "";
    				// if ((deters[iRandom_deter2].num == "sing") && (($scope.name2.match(vowelRegex))||(name2.fr_h_mute)) && ("fr_before_vowel" in deters[iRandom_deter2])) {
    				if ((($scope.name2.match(vowelRegex))||(name2.fr_h_mute)) && ("fr_before_vowel" in deters[iRandom_deter2])) {
    					$scope.deter2 = deters[iRandom_deter2].fr_before_vowel;
    				};
    				if ($scope.name2.charAt(0)==$scope.name2.charAt(0).toUpperCase()) {
    					name2_is_proper_noun = true;
    					if (name2.pers_name) {
    						if (deters[iRandom_deter2].num == "sing") {
    							if (deters[iRandom_deter2].quant == "deter") $scope.deter2 = "";
    							// if ($scope.target_chunks["suf_name2"]=="a") $scope.target_chunks["suf_name1"]="";
    						}
    					}
    				};
    			};
    			if (iRandom_adj2>0) {
    				if (deters[iRandom_deter2].num == "plur") {
    					if (name2.fr_f) {
    						if ("fr_f_plur" in adjs[iRandom_adj2-1]) {
    							$scope.adj2 = adjs[iRandom_adj2-1].fr_f_plur;
    						} else{
    							if ("fr_f" in adjs[iRandom_adj2-1]) {
    								$scope.adj2 = adjs[iRandom_adj2-1].fr_f+"s";
    							} else {$scope.adj2 = adjs[iRandom_adj2-1].fr+"es";}
    						}
    					} else {
    						if ("plur_fr" in adjs[iRandom_adj2-1]) {
    							$scope.adj2 = adjs[iRandom_adj2-1].plur_fr;
    						} else {$scope.adj2 = adjs[iRandom_adj2-1].fr+"s";}
    					}
    				} else {
    					if (name2.fr_f) {
    						if ("fr_f" in adjs[iRandom_adj2-1]) {
    							$scope.adj2 = adjs[iRandom_adj2-1].fr_f;
    						} else {$scope.adj2 = adjs[iRandom_adj2-1].fr+"e";}
    					} else {
    						if ((($scope.name2.match(vowelRegex))||(name2.fr_h_mute)) && ("fr_before_vowel" in adjs[iRandom_adj2-1])) {
    							$scope.adj2 = adjs[iRandom_adj2-1].fr_before_vowel;
    						} else {
    							$scope.adj2 = adjs[iRandom_adj2-1].fr;
    						};
    					};
    				};
    				if (!(adjs[iRandom_adj2-1].fr_post)){
    					if ((($scope.adj2.match(vowelRegex))||(adjs[iRandom_adj2-1].fr_h_mute)) && ("fr_before_vowel" in deters[iRandom_deter2])) {
    						$scope.deter2 = deters[iRandom_deter2].fr_before_vowel;
    					};
    				};
    				$scope.adj2+=" "
    				if (iRandom_adj2!=iRandom_adj1) $scope.hints.push(adjs[iRandom_adj2-1]);
    				$scope.target_chunks["adj2"]=adjs[iRandom_adj2-1].eus;
    
    			}
    		};
    
    
    		///////// PREPARE THE FRENCH SENTENCE TO TRANSLATE		
    
    		$scope.fr_phrase = $scope.deter1;
    		if (($scope.adj1.length>0) && (!(adjs[iRandom_adj1-1].fr_post))) {
    			$scope.fr_phrase += $scope.adj1;
    		};
    		$scope.fr_phrase += $scope.name1;
    		if (($scope.adj1.length>0) && (adjs[iRandom_adj1-1].fr_post)) {
    			$scope.fr_phrase += $scope.adj1;
    		};
    		$scope.fr_phrase += $scope.verb;
    		$scope.fr_phrase += " ";
    		$scope.fr_phrase += $scope.deter2;
    		if (($scope.adj2.length>0) && (!(adjs[iRandom_adj2-1].fr_post))) {
    			$scope.fr_phrase += $scope.adj2;
    		};
    		$scope.fr_phrase += $scope.name2;
    		if (($scope.adj2.length>0) && (adjs[iRandom_adj2-1].fr_post)) {
    			$scope.fr_phrase += " ";
    			$scope.fr_phrase += $scope.adj2;
    		};
    		$scope.fr_phrase=$scope.fr_phrase.trim();
    
    
    
    		///////// CHANGE SUFFIXES OF GN1 IF NORK
    		if (infinitif.trans) {
    			if (deters[iRandom_deter2].num == "plur") pers_COD = 1;
    			if ($scope.target_chunks["suf_name1"]=="ak") $scope.target_chunks["suf_name1"]="ek";
    			if ($scope.target_chunks["suf_name1"]=="a") $scope.target_chunks["suf_name1"]="ak";
    			if ($scope.target_chunks["suf_name1"]=="") $scope.target_chunks["suf_name1"]="k";
    			if (name1_is_pronom) $scope.target_chunks["suf_name1"]="k";			
    		};
    		$scope.target_chunks["verb"]=infinitif.eus_c[pers_COD][pers];
    
    		// console.log("target chunks: " + $scope.target_chunks["name1"]);
    		// console.log("target chunks: " + $scope.target_chunks["suf_name1"]);
    		// console.log("target chunks: " + $scope.target_chunks["ordin1"]);
    		// console.log("target chunks: " + $scope.target_chunks["adj1"]);
    		// console.log("target chunks: " + $scope.target_chunks["verb"]);
    		// console.log("target chunks: " + $scope.target_chunks["name2"]);
    		// console.log("target chunks: " + $scope.target_chunks["suf_name2"]);
    		// console.log("target chunks: " + $scope.target_chunks["adj2"]);
    		// console.log("target chunks: " + $scope.target_chunks["ordin2"]);
    
    
    		///////// GATHER THE BASQUE
    
    		//GN1
    		// ordin goes first
    		// then name
    		// except bat
    		var bat1 = false;
    		var bat2 = false;
    		var lastchar;
    		var last_is_vowel;
    
    
    		var name1_is_last_and_proper_noun = name1_is_proper_noun;
    		var name2_is_last_and_proper_noun = name2_is_proper_noun;
    
    		
    
    		if (($scope.target_chunks["ordin1"]=="bat")||(($scope.target_chunks["ordin1"].length>0)&&(deters[iRandom_deter1].quant == "indet"))) {
    			bat1=true;
    			$scope.target+=$scope.target_chunks["name1"];
    			name1_is_last_and_proper_noun=false;
    		} else {
    			if ($scope.target_chunks["ordin1"].length > 0){
    				$scope.target+=$scope.target_chunks["ordin1"];
    				$scope.target+=" ";
    			};
    			$scope.target+=$scope.target_chunks["name1"];
    		};
    		
    		// adj bears suffix unless bat
    		if ($scope.target_chunks["adj1"].length > 0){
    			name1_is_last_and_proper_noun=false;
    			$scope.target+=" ";
    			$scope.target+=$scope.target_chunks["adj1"];
    		};
    
    		if (bat1) {
    			$scope.target+=" ";
    			$scope.target+=$scope.target_chunks["ordin1"];			
    		};
    
    		if ($scope.target_chunks["suf_name1"].length > 0){
    
    			// pronom +k (trans) except if already a k (zuek, beraiek) 
    			if ((name1_is_pronom) && ($scope.target.slice(-1)!="k") ) {
    				$scope.target+=$scope.target_chunks["suf_name1"];
    			} else {
    				if (!(name1_is_pronom)){
    					lastchar=$scope.target.slice(-1);
    					if (name1_is_last_and_proper_noun){
    						if ($scope.target_chunks["suf_name1"]=="a") $scope.target_chunks["suf_name1"]="";
    						// if ($scope.target_chunks["suf_name1"]=="ak") $scope.target_chunks["suf_name1"]="ak";
    						if (infinitif.trans) {
    							if ($scope.target_chunks["suf_name1"]=="ak") $scope.target_chunks["suf_name1"]="k";
    						}
    						if (($scope.target_chunks["suf_name1"]=="ak")&&(lastchar=="a")) $scope.target_chunks["suf_name1"]="k";
    						if ($scope.target_chunks["suf_name1"]=="ek") $scope.target_chunks["suf_name1"]="k"; //TODO: check that (Guillaumeek?)
    						// if ($scope.target_chunks["suf_name1"]=="k") $scope.target_chunks["suf_name1"]="k";
    
    					};
    					if ($scope.target_chunks["suf_name1"].length > 0){
    						last_is_vowel= (lastchar.match(vowelRegex));
    
    						// +r if r
    						if (lastchar=="r") $scope.target+="r";
    
    						// +e if indet conson + ergative (k)
    						if ($scope.target_chunks["suf_name1"]=="k") {
    							if (!(last_is_vowel)) $scope.target+="e";
    							$scope.target+="k";
    						// else -a if already a + suf
    						} else {
    							if ((lastchar=="a")&&(!(name1_is_last_and_proper_noun))) $scope.target=$scope.target.slice(0,-1);
    							$scope.target+=$scope.target_chunks["suf_name1"];
    						}
    					};
    				};
    			};
    		};
    		$scope.target+=" ";
    
    		//GN2 ###################################################################################
    		// if ($scope.target_chunks["ordin2"]=="bat"){
    		if (($scope.target_chunks["ordin2"]=="bat")||(($scope.target_chunks["ordin2"].length>0)&&(deters[iRandom_deter2].quant == "indet"))) {
    			bat2=true;
    			$scope.target+=$scope.target_chunks["name2"];
    			name2_is_last_and_proper_noun=false;
    		} else {
    			if ($scope.target_chunks["ordin2"].length > 0){
    				$scope.target+=$scope.target_chunks["ordin2"];
    				$scope.target+=" ";
    			};
    			$scope.target+=$scope.target_chunks["name2"];
    		};
    		
    		if ($scope.target_chunks["adj2"].length > 0){
    			name2_is_last_and_proper_noun=false;
    			$scope.target+=" ";
    			$scope.target+=$scope.target_chunks["adj2"];
    		};
    		if (bat2) {
    			$scope.target+=" ";
    			$scope.target+=$scope.target_chunks["ordin2"];			
    		};
    
    		if ($scope.target_chunks["suf_name2"].length > 0){
    			lastchar=$scope.target.slice(-1);
    			if (name2_is_last_and_proper_noun){
    				if ($scope.target_chunks["suf_name2"]=="a") $scope.target_chunks["suf_name2"]="";
    				if (($scope.target_chunks["suf_name2"]=="ak")&&(lastchar=="a")) $scope.target_chunks["suf_name2"]="k";
    			};
    			if ($scope.target_chunks["suf_name2"].length > 0){
    				if (lastchar=="r") $scope.target+="r";
    				if ((!(name2_is_last_and_proper_noun))&&(lastchar=="a")) $scope.target=$scope.target.slice(0,-1);
    				$scope.target+=$scope.target_chunks["suf_name2"];
    			};
    		};
    
    		// verb
    		$scope.target+=" ";
    		$scope.target+=$scope.target_chunks["verb"];
    
    		$scope.client_input = "";
    		$scope.num_hints=$scope.hints.length;
    
    	};
    
    	
    
    	$scope.newHint = function(){
    		if ($scope.num_hints>0) {
    			$scope.num_hints-=1
    			$scope.shownHints.push($scope.hints.pop());
    		}
    	};
    
    	$scope.correction = function(){
    		$scope.message = $scope.target+".";
    	};
    
    	$scope.show_verb_tab = function(){
    		$scope.shown_verb_tab = true;
    
    	};
    
    	
    });
    
    
    app.filter('capitalize', function() {
        return function(input) {
          return (angular.isString(input) && input.length > 0) ? input.charAt(0).toUpperCase() + input.substr(1) : input;
          // return (angular.isString(input) && input.length > 0) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : input;
        }
    });
    
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
    .bg-success-light{
      background: #dff0d8;
    }
    .bg-danger-light{
      background: #f2dede;
    }
    
    .bigText{
      height: 46px;
      padding: 10px 16px;
      width: 460px;
      # font-size: 38px;
      # line-height: 1.33;
      border-radius: 20px;
    }
    
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }
    
    .theme-dropdown .dropdown-menu {
      position: static;
      display: block;
      margin-bottom: 20px;
    }
    
    .theme-showcase > p > .btn {
      margin: 5px 0;
    }
    
    .theme-showcase .navbar .container {
      width: auto;
    }
    
    table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>
</head>
<body role="document">
  <div class="container theme-showcase" role="main">
    <div ng-controller="myCtrl" ng-init="newTest()">
      <!-- <h1>Test : {{deter1 + adj1 + name1 + verb  +" "+ deter2+ adj2 + name2 + "." | capitalize}}</h1> -->
      <h1>Test : {{fr_phrase + "." | capitalize}}</h1>
  	
      <button ng-click="newTest()">Nouveau</button>
      <button ng-click="newHint()">Aide Vocabulaire</button>
      <button ng-click="show_verb_tab()">Aide Conjugaison</button>
      <button ng-click="correction()">Correction</button>

    	<p>
        <input  ng-class="check()==1?'bg-success-light':'bg-danger-light'" type="text" class="bigText" ng-model="client_input"   ng-keydown="validate($event)" >
        </br>
      	&nbsp;{{message | capitalize}}
      </p>

    <div>
      <label>Encore {{num_hints}} aides voca possibles...</label>

      <ul>
        <li ng-repeat="x in shownHints">
          {{ x.fr.trim() + ': ' + x.eus }}
        </li>
      </ul>
    </div>

    <div>
      <table ng-show="shown_verb_tab">
        <tr>
          <td>{{ infinitif.fr }}</td>
          <td ng-repeat="x in infinitif.fr_c" >{{ x }}</td>
        </tr>
        <tr ng-repeat="x in infinitif.eus_c">
          <td>{{ infinitif.eus }}</td>
          <td ng-repeat="y in x" >{{ y }}</td>
        </tr>
      </table>
    </div>
  </div>
    <div>
      Ukan_Izan version 1.14
    </div>
</div>
</body>
</html>